@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.bg-colour{
    background-color: #22242A;
}

/* nav on top */
.sticky{
    z-index:100000;
    position: sticky;
    top: 0px;
}

.nav-colour{
    background-color: #042287;
}

.goldShi{
    color: #E8BB53
}

.changefontnav{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* content config */
.nameFont {
    font-size: 50px;
}
.content-colour {
    color: #A6B0D9;
}

.content-bg {
    background-color: #2E3038;
}

.content-bg2 {
    background-color: #393C46;
}

.intro-text{
    font-size:large;
    font-family: 'Roboto', sans-serif;
}

.startFont {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-border {
    border: 4px solid #E8BB53;
}

.custom-inner-border {
    border: 2px solid #E8BB53;
}

/* footer config */
.footer {
    position: fixed;
    left: 0;
    bottom: -100px; /* Initially hidden */
    width: 100%;
    transition: bottom 0.3s ease;
}

.footer.visible {
bottom: 0; /* Slide up into view */
}