.project-container {
  margin-bottom: 3rem;
}

.project-content {
  max-width: 800px;
  margin: 1rem auto 0;
}

.carousel-media-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  border-radius: 1rem;
  background-color: #393C46; /* background for empty space */
}

.carousel-media-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-media-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain; /* scale down to fit */
  background-color: #393C46; /* fill empty space */
}
